extends ../layout

block content
  img(src= story.image_1).image
  img(src= story.image_2).image
  img(src= story.image_3).image
  
  div= 'Last updated at: ' + story.updated_at    
  
  form(id='newStory' method='post')
    div
      label Title
      br
      input(type='text' name='title' value=story.title)
    div
      label Your Story
      br
      textarea(type='text' rows='5' name='text')= story.text
    div
      input(type='text' hidden value=story.created_at name='created_at')
      input(hidden type='text' name='image_1' value=story.image_1) 
      input(hidden type='text' name='image_2' value=story.image_2)
      input(hidden type='text' name='image_3' value=story.image_3)    
    div
      button(type='submit' formaction='/stories/' + story.id + '/edit/save?_method=put' name="save" value="save") Save
      if story.published === false 
        button(type='submit' formaction='/stories/' + story.id + '/edit/publish?_method=put' name="publish" value="publish") Publish
        
