extends ../layout

block content
  each story in publishedStories    
    div.container.storyContainer
      div.row
        div.col-md-8.col-md-offset-2.story
          h1= story.title
          div= story.created_at
          if story.created_at !== story.updated_at
            div= story.updated_at
          div
            span= 'Written by: '
            a(href='/users/' + story.username)
              span= story.username
          div= 'Likes: ' + story.likes 
          div.imageContainer
            img(src= story.image_1).image
          div.imageContainer
            img(src= story.image_2).image
          div.imageContainer
            img(src= story.image_3).image
          div= story.text
