extends ../layout

block content
  div.storyPage
    each story in latestStories    
      div.container.storyContainer
        div.row
          div.col-md-8.col-md-offset-2.story
            h1
              a(href="/stories/" + story.story_id)= story.title
            div= 'Written: ' + moment(story.created_at).format("MM/DD/YYYY")
            if story.created_at.toString() !== story.updated_at.toString()
              div= 'Updated: ' + moment(story.created_at).format("MM/DD/YYYY")
            div
              span= 'By: '
              a(href='/users/' + story.username)
                span= story.username
            div= 'Likes: ' + story.likes 
            div.threeImages
              div.imageContainer(style="background-image: url('" + story.image_1 + "')")
              div.imageContainer(style="background-image: url('" + story.image_2 + "')")
              div.imageContainer(style="background-image: url('" + story.image_3 + "')")
            div.storyBody= story.text
