extends ../layout

block content
  img(src= image1.urls.full).image
  img(src= image2.urls.full).image
  img(src= image3.urls.full).image
  
  form(id='newStory' method='post')
    div
      label Title
      br
      input(type='text' name='title' value=title)
    div
      label Your Story
      br
      textarea(type='text' rows='5' name='body' value=body)
    div
      input(hidden type='text' name='image_1' value=image1.urls.full) 
      input(hidden type='text' name='image_2' value=image2.urls.full)
      input(hidden type='text' name='image_3' value=image3.urls.full)
    div
      button(type='submit' formaction='/stories/new/save' name="save" value="save") Save
      button(type='submit' formaction='/stories/new/publish' name="publish" value="publish") Publish
      

    
    
