extends ../layout

block content
  div.storyPage
    div.container.storyContainer
      div.row
        div.col-md-8.col-md-offset-2
          h1= story.title
          div= 'Written: ' + moment(story.created_at).format("MM/DD/YYYY")
          if story.created_at.toString() !== story.updated_at.toString()
            div= 'Updated: ' + moment(story.created_at).format("MM/DD/YYYY")
          div= 'By: '
            a(href="/users/" + user.username)=user.username
          div= 'Likes: ' + story.likes 
          div.threeImages
            div.imageContainer
              img(src= story.image_1).image
            div.imageContainer
              img(src= story.image_2).image
            div.imageContainer
              img(src= story.image_3).image
          div= story.text
