extends ../layout

block content
  div.storyPage
    div.container.storyContainer
      div.row
        div.col-md-8.col-md-offset-2
          if thisUser.id === user.id
            div.editRemove
              a(href='/stories/' + story.id + '/edit')  
                img.edit(src="/images/edit.png")
              a(href='/stories/' + story.id + '/delete')
                img.delete(src="/images/delete.png")
          h1= story.title
          div.detail= 'By: '
            a(href="/users/" + thisUser.username)=thisUser.username
          div.detail= 'Written: ' + moment(story.created_at).format("MM/DD/YYYY")
          if story.created_at.toString() !== story.updated_at.toString()
            div.detail= 'Updated: ' + moment(story.created_at).format("MM/DD/YYYY")
          div.detail= 'Likes: ' + story.likes 
          div.threeImages
            div.imageContainer(style="background-image: url('" + story.image_1 + "')")
            div.imageContainer(style="background-image: url('" + story.image_2 + "')")
            div.imageContainer(style="background-image: url('" + story.image_3 + "')")
          div= story.text
