extends ../layout

block content
  if user
    p='Welcome, ' + user.first_name + ' ' + user.last_name
    each story in userStories
      div.container.storyContainer
        div.row
          div.col-md-8.col-md-offset-2.story
            h1= story.title
            p= 'Written: ' + moment(story.created_at).format("MM/DD/YYYY")
            p= 'Likes: ' + story.likes
            div.threeImages
              div.imageContainer
                img.image(src= story.image_1)  
              div.imageContainer  
                img.image(src= story.image_2)
              div.imageContainer
                img.image(src= story.image_3)
            p= story.text
